html, body {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.head {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: .5rem;
}    

.body {
  display: flex;
  justify-content: center;
}

.td {
  text-align: right;
  padding: .5rem;
  min-width: 12rem;
}

.title {
  font-weight: bold;
  text-align: right;
  width: 6rem;
  min-width: 6rem;
}
